<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Краткое описание страницы"/>
    <title>Сайт</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/roboto.min.css">
    <link rel="stylesheet" href="assets/css/hystmodal.min.css">
    <link rel="stylesheet" href="assets/css/main.min.css">     
    
</head>
<body >

    <div class="mob-menu ">            
        <div class="mob-menu__content">
            
            <div class="mob-menu__body">
                <nav class="mob-menu__nav">
                    <ul class="mob-menu__list"> 
                        <li class="mob-menu__item"><a href="about-us.html" class="mob-menu__link">О нас</a></li>
                        <li class="mob-menu__item"><a href="cases.html" class="mob-menu__link">Кейсы</a></li>
                        <li class="mob-menu__item"><a href="about-us.html" class="mob-menu__link">Карьера</a></li>
                        <li class="mob-menu__item"><a href="news.html" class="mob-menu__link">Контакты</a></li>
                        <li class="mob-menu__item mob-menu__item_btn"> <button class="btn btn-blue" data-hystmodal="#feedback-modal">Обсудить проект</button></li>
                    </ul>
                </nav>                
            </div>
            
        </div>
        <img src="assets/img/index/index-cheese.png" alt="" class="mob-menu__chess">
    </div>

    <header class="header header-white">
        <div class="container">
            <a href="index.html" class="header-logo"><img src="assets/img/white-logo.png" alt=""></a>
                
                <nav class="h-nav">
                    <ul class="h-menu">
                        <li class="h-menu__item"><a href="about-us.html" class="h-menu__link">О нас</a></li>
                        <li class="h-menu__item"><a href="cases.html" class="h-menu__link">Кейсы</a></li>
                        <li class="h-menu__item"><a href="career.html" class="h-menu__link">Карьера</a></li>
                        <li class="h-menu__item"><a href="contacts.html" class="h-menu__link">Контакты</a></li>                        
                    </ul>
                </nav>
                <button class="btn btn-blue" data-hystmodal="#feedback-modal">Обсудить проект</button>


                <button class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
           
        </div>
    </header>